body{
margin: 0;
font-family: Helvetica , Arial , sans-serif;
font-size: 20px;
}

header{
 background-color:darkred ;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

h1,h2{
	font-family: 'Press Start 2P', cursive;
}

header h1{
color: white;
font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
    border: 20px solid violet;

}
main img{
	max-width: 900px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
h2{
	font-size: 30px;
	color: #e70c19;
}
a{
	color: #e70c19;
}

a:hover{

color: white;
background-color: #483a94;

}
